.cart-page-container {
  padding: 20px;
}

.cart-icon {
  position: relative;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item-image {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 5px 0;
}

button {
  background-color: #ff3f3f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d63636;
}

.cart-total {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Stacks h2 and button vertically */
  align-items: center; /* Centers both h2 and button horizontally */
  justify-content: center; /* Ensures the whole section is centered vertically */
}

.cart-total h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* Adds some space below the total price */
}

.buy-now-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Space between price and button */
}

.buy-now-btn:hover {
  background-color: #218838;
}
