/* src/styles/CheckoutPage.css */
.checkout-page-container {
  padding: 20px;
  text-align: center;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.checkout-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.checkout-item-image {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.checkout-item-details {
  flex-grow: 1;
}

.confirm-order-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Space between price and button */
}

.confirm-order-btn:hover {
  background-color: #218838;
}
